/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.bg{
    background-image: url("app/assets/images/bg2.png");
    background-repeat: repeat;
}

.card-container {
    grid-gap: 10px;
    padding: 10px;
    display: grid;
    border: 10px;
}

.user_details{
    border-radius: 5px;
    background:#E1E4EB ;
}

.card-item {
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.Footer1{
    background: #2E2F30;
    height: 70px;
}

.card-footer{
    background: #E1E4EB;
}

.navbar-nav{
    margin-left: 70px;
}

.card-title{
    padding: 6px;
    border-radius: 5px;
    background: #1098db;
    grid-column: 4 ;
}

.card-title-text{
    text-decoration: none;
    color: #2E2F30;
}

.bg {
     background-image: url('app/assets/images/bgTest.jpg');
     background-attachment: fixed;
     background-size: cover;
 }


